.sc-picker {
    position: relative;
    display: inline-block;
}

.sc-picker input {
    width: 200px;
}

.sc-picker .sc-picker__color-square {
    position: absolute;
    box-sizing: border-box;
    top: 50%;
    right: 5px;
    margin-top: -7.5px;
    z-index: 2;
}

.sc-picker__color-menu {
    display: none;
    position: absolute;
    z-index: 1;
    width: 200px;
    height: 400px;
    background-color: #fff;
    border: 1px solid #000;
    margin-left: -1px;
}

.sc-picker__color-menu.sc-picker__color-menu--open {
    display: block;
}

.sc-picker__color-menu-wrapper {
    margin-top: 30px;
    padding: 0 5px;
}

.sc-picker__hue-selector {
    height: 20px;
    margin-bottom: 15px;
    background: linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 255, 0, 1), rgba(0, 255, 0, 1), rgba(0, 255, 255, 1), rgba(0, 0, 255, 1), rgba(255, 0, 255, 1), rgba(255, 0, 0, 1));
}

.sc-picker__hue-selector-bar {
    height: calc( 100% + 10px );
    width: 6px;
    background-color: #333;
    position: relative;
    margin-left: -3px;
    top: -5px;
}

.sc-picker__saturation-lightness-selector {
    height: 190px;
    background: linear-gradient(to bottom right, hsl(0,0%,0%), hsl(0,50%,50%), hsl(0,100%,100%));
    margin-bottom: 15px;
    position: relative;
}

.sc-picker__sl-dot {
    position: absolute;
    width: 6px;
    height: 6px;
    top: 0;
    left: 0;
    margin-top: -3px;
    margin-left: -3px;
    background-color: #333;
    border-radius: 50%;
}

.sc-picker__color-menu-items {
    display: flex;
    justify-content: flex-start;
}

.sc-picker .sc-picker__color-square,
.sc-picker__color-menu-item {
    border: 1px solid #000;
    width: 15px;
    height: 15px;
    border-radius: 2px;
}


.sc-picker__color-menu-item {
    margin-right: 5px;
}